/murray.winservices/keepitup/keepitup.sln.DotSettings
/murray.winservices/keepitup/keepitup.suo
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.exe
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.exe.config
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.pdb
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.vshost.exe
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.vshost.exe.config
/murray.winservices/keepitup/keepitup/bin/Debug/keepitup.vshost.exe.manifest
/murray.winservices/keepitup/keepitup/bin/Debug/murray.common.dll
/murray.winservices/keepitup/keepitup/bin/Debug/murray.common.pdb
/murray.winservices/keepitup/keepitup/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/murray.winservices/keepitup/keepitup/obj/x86/Debug/keepitup.csproj.FileListAbsolute.txt
/murray.winservices/keepitup/keepitup/obj/x86/Debug/keepitup.csprojResolveAssemblyReference.cache
/murray.winservices/keepitup/keepitup/obj/x86/Debug/keepitup.exe
/murray.winservices/keepitup/keepitup/obj/x86/Debug/keepitup.pdb
